<div class="container-fluid g-0">

        <app-header-nav-bar (sideNavToggled)="sideNavStatus = $event;">

        </app-header-nav-bar>



        <div [ngClass]="{'display-area-shrink':!sideNavStatus}">
                <router-outlet ></router-outlet>
        </div>


        <main>

                <div *ngIf="isloggedIn">
                        <app-side-nav-bar [sideNavStatus]=true [totalItem]="totalItem">
                        </app-side-nav-bar>
                </div>

        </main>

</div>