<div class="container">
  <div class="about-section">
    <!-- <h1>About Us Page</h1> -->
    <h1>The First independent Travel Tourism Package Provider</h1>
    <p>Learn more about our rich history of ground-breaking and memory-creation moments.</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/MicrosoftTeams-image.png" alt="Vikas" class="img">
        <div class="cont">
          <h2>Vikas Jadhav</h2>
          <p class="title">CEO & Founder</p>
          <p> We are obsessed with giving our users the simplest and fastest way to make plans and Travel through our
            Packages.</p>
          <p>- vikasjadhav4569@gmail.com</p><br>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../../assets/MicrosoftTeams-image.png" alt="Patil" class="img">
        <div class="cont">
          <h2>Vikas Patil</h2>
          <p class="title">Art Director</p>
          <p> We are obsessed with giving our users the simplest and fastest way to make plans and Travel through our
            Packages.</p>
          <p>- vikasjadhav4669@gmail.com</p>
          <br>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../../assets/MicrosoftTeams-image.png" alt="Jadhav" class="img">
        <div class="cont">
          <h2>Tanaji Jadhav</h2>
          <p class="title">Designer</p>
          <p> We are obsessed with giving our users the simplest and fastest way to make plans and Travel through our
            Packages.</p>
          <p>- vikasjadhav4769@gmail.com</p><br>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

</div>